
.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: rgb(234, 155, 169);
    border-color: rgb(234, 155, 169);
}
.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: rgb(234, 155, 169);
    --bs-btn-border-color: rgb(234, 155, 169);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: rgb(234, 155, 169);
    --bs-btn-focus-shadow-rgb: 211,212,213;
    --bs-btn-active-color: rgb(234, 155, 169);
    --bs-btn-active-bg: rgb(234, 155, 169);
    --bs-btn-active-border-color: rgb(234, 155, 169);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}