geopandas>=0.11
matplotlib>=3.5
networkx>=2.8
numpy>=1.22
pandas>=1.4
pyproj>=3.3
requests>=2.28
Rtree>=1.0
Shapely>=1.8,<2.0
tensorflow==2.3.1
uvicorn==0.12.2
fastapi==0.63.0
setuptools == 40.8.0
pip > 19.0.0
tensorflow_cpu>= 2.1.0
tensorflow_hub >= 0.7.0
Flask==1.0.2
Flask-Cors==3.0.7
flask-mongoengine==0.9.5
Flask-PyMongo==2.2.0
flask-restplus==0.12.1
Flask-WTF==0.14.2
Jinja2==2.10
jsonschema==2.6.0
mongoengine==0.16.3
pymongo==3.7.2
Werkzeug==0.14.1