.col-4 {
    width: 35%;
    color:gray;
    background-color: black;
}
.col-8 {
    width: 65%;
    float: right;
}

/* .Container{
      background-color: black;
      display: grid; 
      display: inline;
  } */

